* {
    padding: 0;
    margin: 0;
}
  
body {
    background: linear-gradient(90deg, hsla(148, 89%, 78%, 1) 0%, hsla(210, 81%, 22%, 1) 100%);
}

main {
    width: 100%;
    display: grid;
    grid-template-areas: "aside header header header"
    "aside article article article"
    "aside article article article"
    "aside article article article"
    "aside article article article"
    "aside article article article"
    "footer footer footer footer";
}

/*Sidebar*/
#contenedor-sidebar {
    box-shadow: 14px 14px 64px -6px rgba(36,2,2,1);
    color: #000;
    grid-area: aside;
    display: grid;
    grid-template-columns: minmax(70px, 250px);
}

#contenedor-sidebar > div {
    font-size: 24px;
    display: grid;
    justify-items: center;
}

#contenedor-sidebar > nav{
    font-size: 22px;
    display: grid;
    justify-items:stretch;
    gap: 13px;
}

.a-sidebar {
    color: #000;
    padding-left: 30px;
    display: grid;
    grid-template-columns: .3fr 1fr;
    align-items: center;
}

.a-sidebar:hover{
    filter: drop-shadow(6px -6px 6px #24020275);
    background-color: #FFF;
    padding-right: 10px;
}

.a-sidebar > img {
    padding-right: 20px;
}

#contenedor-ayuda {
    padding-top: 35px;
    padding-bottom: 30px;
}

.ayuda {
    margin-bottom: 13px;
}

#contenedor-sidebar > div > h2 {
    padding-bottom: 20px;
}

/*Header*/
#contenedor-cabecera {
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

#contenedor-presentación {
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: center;
}

#contenedor-cabecera > nav {
    color: #FFF;
    display: grid;
    grid-template-columns: .5fr 1fr;
    align-content: space-between;
    align-items: center;
    justify-items: start;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: end;
}

#contenedor-noti {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    justify-items: end;
}

/*Contenido*/
#contenedor-contenido {
    box-shadow:  0px -24px 49px -32px rgba(36,2,2,1);
    -webkit-box-shadow:  0px -24px 49px -32px rgba(36,2,2,1);
    -moz-box-shadow:  0px -24px 49px -32px rgba(36,2,2,1);
    grid-area: article;
    display: grid;
    grid-template-columns: 4fr 1fr;
}

#proyectos {
    display: grid;
    grid-template-columns: 3fr;
    grid-template-rows: 1fr 9fr;
    justify-items: center;
    justify-content: center;
}

#contenedor-art {
    width: 100%;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-items: center;
}

/*Sidebar-contenido*/
#mas {
    box-shadow: -4px 4px 48px -15px rgba(36,2,2,1);
    -webkit-box-shadow: -4px 4px 48px -15px rgba(36,2,2,1);
    -moz-box-shadow: -4px 4px 48px -15px rgba(36,2,2,1);
    color: #FFF;
    padding: 15px 5px 15px 5px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 228px));
    grid-template-rows: 1fr 1fr;
    justify-items: center;
}

#anuncios > h2, 
#aprendizaje > h2 {
    color: #FFF;
    display: grid;
    grid-template-columns: .2fr 1fr;
    align-items: center;
    justify-items: center;
}

.learn {
    color: #FFF;
}

/*Footer*/
#contenedor-footer {
    padding-bottom: 15px;
    font-size: 25px;
    grid-area: footer;
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: end;
}

#contenedor-footer > a {
    color: #FFF;
    padding-left: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

#git-foot {
    filter: drop-shadow(4px -2px 2px #F1F1F1);
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}